@import '../../../../styles/scss/theme.scss';

#product-highlights{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    .highlight-container{
        width: 196px;
        height: 197px;
        margin-bottom: 20px;
        border: 4px solid #756955;
        border-radius: 30px;
        text-align: center;

        display: flex;
        flex-flow: column;
        justify-content: center;

        img{
            height: 4rem;
        }

        .title{
            color: $maincolor;
        }

        .content{
            color: $white;
        }
    }
}