<div id="product-highlights" class="row mb-4">
    <div class="highlight-container col-12 col-lg-4">
        <img class="mb-2" src="/assets/images/Time.svg" alt="Time activity">
        <h3 class="title">{{ 'product.highlightsComponents.hours' | translate }}</h3>
        <p class="content">{{product.duration}}</p>
    </div>
    <!--  <div class="highlight-container col-12 col-lg-4">
      <img class="mb-2" src="/assets/images/una-persona.svg" alt="One person">
        <h3 class="title">130€</h3>
        <p class="content">{{ 'product.highlightsComponents.single' | translate }}</p>
    </div>-->
    <div class="highlight-container col-12 col-lg-4">
        <img class="mb-2" src="/assets/images/dos-personas.svg" alt="Two people">
        <h3 class="title">{{product.price}}€</h3>
        <p class="content">{{ 'product.highlightsComponents.double' | translate }}</p>
    </div>
</div>
