@import '../../../../styles/scss/theme.scss';

.about-container{
    background-image: url("../../../../assets/images/hero-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 708px;
    align-items: center;
    display: flex;
    margin-bottom: -16px;

    .about-body{
        background-color: $body-bg-color + DF;
        border-radius: 30px;
    }

    @media(max-width:992px) {
        .about-body{
            border-radius: unset;
        }
    }
}

.header {
    text-align: center;

    span {
        color: $white;
    }
}

.images {
    margin-bottom: 24px;
    text-align: center;

    img {
        margin-bottom: 1rem;
    }
}

.texts {
    span {
        color: $white;
    }
}

.about-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/images/Pincelada.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 1rem;
    height: 3rem;
    width: 17rem;
    max-width: unset;

    span {
        margin-bottom: 11px;
        color: $black;
        font-family: $primary-font;
        font-style: italic;
        font-size: medium;
        text-transform: uppercase;
    }
}

[class^="number-slide"],
[class*=" number-slide"] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
}

.navigation-wrapper {
    position: relative;
}

.dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

.dot {
    border: none;
    width: 12px;
    height: 12px;
    background: $maincolor;
    border: 2px solid $maincolor;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}

.dot:focus {
    outline: none;
}

.dot.active {
    background: $white;
}

@media (max-width:400px) {
    .px-5 {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }
}   