<div class="about-container py-5">
    <div class="container-lg about-body pb-5">
        <div class="header p-5">
            <h3 class="mb-0">{{ 'about.title' | translate }}</h3>
        </div>
        <div class="texts mb-5">
            <div class="px-5 text-center">
                <span>{{ 'about.paragraph1' | translate }}</span>
            </div>
        </div>
        <button class="about-button mx-auto" [routerLink]="'contact'">
            <span>{{ 'about.contact' | translate }}</span>
        </button>
    </div>
    
</div>