<div class="container">
    <div class="d-flex flex-column">
        <h2>{{ 'legal.conditions' | translate }}</h2>
        <span>{{ 'legal.modified' | translate }}<i>{{ 'legal.date' | translate }}</i></span>
        <span>
            {{ 'legal.read' | translate }}
        </span>
        <span>
            {{ 'legal.use' | translate }}</span>
        <strong>{{'legal.property' | translate }}</strong>
        <span>{{'legal.webcontent' | translate }}</span>
        <strong>{{'legal.termination' | translate }}</strong>
        <span>{{'legal.right' | translate }}</span>
        <strong>{{'legal.external' | translate }}</strong>
        <span>{{'legal.links' | translate }}</span>
        <strong>{{'legal.legislation' | translate }}</strong>
        <span>{{'legal.agreement' | translate }}</span>
        <strong>{{'legal.consent' | translate }}</strong>
        <span>{{'legal.accept' | translate }}</span>
        <strong>{{'legal.modification' | translate }}</strong>
        <span>{{'legal.reserved' | translate }}</span>
        <strong>{{'legal.contact' | translate }}</strong>
        <span>{{'legal.questions' | translate }}</span>
    </div>

</div>