@import '../../../../styles/scss/theme.scss';

.booking {
    padding-top: 30px;
    padding-bottom: 28px;

    .card {
        height: 600px;
        width: 300px;
        margin-left: auto;
        

        strong {
            color: $black;
        }
    }



    @media(max-width:992px){
        .card{
            margin: 0 auto;
        }
    }

}

@media (max-width:281px) {
    .card {
        width: 254px !important;
    }

    .p-3 {
        padding: 4px!important;}
}