<div class="info-card">
    <div class="header mb-3">
        <span class="initial mx-auto">
            <img class="img-divider" src="../../../assets/images/x.svg" alt="Cross">

        </span>
        <div class="d-flex flex-column mt-4">
            <strong></strong>
            <span class="subtitle">{{ 'info.title' + childPosition | translate }}</span>
        </div>
    </div>
    <div class="title">
        <strong></strong>
    </div>
    <div class="info-content">
        <span class="comments">{{ 'info.subtitle' + childPosition | translate }}</span>
    </div>

</div>
