@import '../../../../styles/scss/theme.scss';

.reviews-background {
    padding-top: 80px;
    padding-bottom: 112px;

    .header {
        text-align: center;
        margin-bottom: 38px;
    }

    #title {
        font-size: 32px !important;
    }

    .reviews {
        .navigation-wrapper {
            margin-bottom: 40px;
        }
    }
}

[class^="number-slide"],
[class*=" number-slide"] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
}

.navigation-wrapper {
    position: relative;
}

.dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

.dot {
    border: none;
    width: 12px;
    height: 12px;
    background: $maincolor;
    border: 2px solid $maincolor;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}

.dot:focus {
    outline: none;
}

.dot.active {
    background: $darkcolor;
}

.arrow {
    width: 50px;
    height: 50px;
    padding: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: $black;
    cursor: pointer;
    background-color: $maincolor;
    border-radius: 10px;
}

.arrow--left {
    left: -5vw;
}

.arrow--right {
    left: auto;
    right: -5vw;
}

.arrow--disabled {
    fill: rgba(0, 0, 0, 0.5)
}