<div class="reviews-background" *ngIf="reviews">
    <div class="container-md">
        <div class="header">
            <h3 #title >{{ 'reviews.title' | translate }}</h3>
            <img class="img-divider mt-3" src="../../../assets/images/Comillas.svg" alt="Comillas">
        </div>
        <div class="reviews" *ngIf="reviews">
            <div class="navigation-wrapper">
                <div class="keen-slider" #sliderRef [ngClass]="reviews.length == 1 ? 'justify-content-center' : ''">
                    <!-- <div *ngFor="let card of [].constructor(13);let i = index" class="keen-slider__slide">
                        <app-review-card></app-review-card>
                    </div> -->
                    <div *ngFor="let review of reviews.slice(0, 13)" class="keen-slider__slide">
                        <app-review-card [review]='review'></app-review-card>
                    </div>
                </div>
                <svg [ngClass]="'d-none d-md-block arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')" (click)="slider.prev()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
                </svg>
                <svg *ngIf="slider" [ngClass]="'d-none d-md-block arrow arrow--right ' + (slider.track.details.slides.length - 1 === currentSlide? 'arrow--disabled': '')" (click)="slider.next()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
                </svg>
            </div>
        </div>
    </div>
</div>