<div class="container">
    <div class="d-flex flex-column">
        <h2>{{ 'privacy.policy' | translate }}</h2>
        <span>{{ 'privacy.modified' | translate }}<i>{{ 'privacy.date' | translate }}</i></span>
        <span>
            {{ 'privacy.personal' | translate }}<a
                href="https://www.aepd.es/" target="_blank">{{ 'privacy.protection' | translate }}</a>
        </span>
        <span>
            {{ 'privacy.file' | translate }}</span>
        <span>
            {{ 'privacy.data' | translate }}
        </span>
        <strong>
            {{ 'privacy.whatinfo' | translate }}
        </strong>
        <span>
            {{ 'privacy.userinfo' | translate }}
        </span>
        <strong>
            {{ 'privacy.use' | translate }}
        </strong>
        <span>
            {{ 'privacy.infostatement' | translate }}
        </span>
        <ul>
            <li>
                <strong>
                    {{ 'privacy.title1' | translate }}
                </strong>
                <span>
                    {{ 'privacy.explanation1' | translate }}
                </span>
            </li>
            <li>
                <strong>
                    {{ 'privacy.title2' | translate }}
                </strong>
                <span>
                    {{ 'privacy.explanation2' | translate }}
                </span>
            </li>
            <li>
                <strong>
                    {{ 'privacy.title3' | translate }}
                </strong>
                <span>
                    {{ 'privacy.explanation3' | translate }}
                </span>
            </li>
            <li>
                <strong>
                    {{ 'privacy.title4' | translate }}
                </strong>
            </li>
        </ul>
        <span>
            {{ 'privacy.explanation4' | translate }}
        </span>
        <span>
            {{ 'privacy.note' | translate }}
        </span>
        <strong>
            {{ 'privacy.protect' | translate }}
        </strong>
        <span>
            {{ 'privacy.security' | translate }}
        </span>
        <strong>
            Cookies
        </strong>
        <span>
            {{ 'privacy.read' | translate }}<a routerLink="../../es/cookies">{{ 'privacy.cookiepolicy' | translate }}</a>{{ 'privacy.where' | translate }}
        </span>
        <strong>
            {{ 'privacy.disclose' | translate }}
        </strong>
        <span>
            {{ 'privacy.text' | translate }}
        </span>
        <strong>
            {{ 'privacy.title5' | translate }}
        </strong>
        <span>
            {{ 'privacy.explanation5' | translate }}
        </span>
        <strong>
            {{ 'privacy.terms' | translate }}
        </strong>
        <span>
            {{ 'privacy.visit' | translate }}<a routerLink="../../es/conditions">{{ 'privacy.link' | translate }}</a>{{ 'privacy.info' | translate }}
        </span>
        <strong>
            {{ 'privacy.modifications' | translate }}
        </strong>
        <span>
            {{ 'privacy.change' | translate }}
        </span>
        <strong>
            {{ 'privacy.contact' | translate }}
        </strong>
        <span>
            {{ 'privacy.questions' | translate }}
        </span>
    </div>
</div>