<div class="container">
    <div class="d-flex flex-column">
        <h2>{{ 'cookies.policy' | translate }}</h2>
        <span>{{ 'cookies.modified' | translate }}<i>{{ 'cookies.date' | translate }}</i></span>
        <span>{{ 'cookies.description' | translate }}</span>
        <span>{{ 'cookies.browser' | translate }}</span>
        <span>{{ 'cookies.acceptance' | translate }}</span>
        <strong>{{ 'cookies.types' | translate }}</strong>
        <ul>
            <li>
                <strong>
                    {{ 'cookies.types' | translate }}
                </strong>
                <span>
                    {{ 'cookies.description1' | translate }}
                </span>
            </li>
            <li>
                <strong>
                    {{ 'cookies.personalization' | translate }}
                </strong>
                <span>
                    {{ 'cookies.description2' | translate }}
                </span>
            </li>
            <li>
                <strong>
                    {{ 'cookies.analysis' | translate }}
                </strong>
                <span>
                    {{ 'cookies.description3' | translate }}
                </span>
            </li>
            <li>
                <strong>
                    {{ 'cookies.advertising' | translate }}
                </strong>
                <span>
                    {{ 'cookies.description4' | translate }}
                </span>
            </li>
            <li>
                <strong>
                    {{ 'cookies.behavioral' | translate }}
                </strong>
                <span>
                    {{ 'cookies.description5' | translate }}
                </span>
            </li>
            <li>
                <strong>
                    {{ 'cookies.thirdparty' | translate }}
                </strong>
                <span>
                    {{ 'cookies.description6' | translate }}
                </span>
            </li>
        </ul>
        <strong>
            {{ 'cookies.used' | translate }}
        </strong>
        <span>
            {{ 'cookies.analytics' | translate }}
        </span>
        <strong>
            {{ 'cookies.analytics' | translate }}
        </strong>
        <span>
            {{ 'cookies.agree' | translate }}
        </span>
        <strong>
            {{ 'cookies.management' | translate }}
        </strong>
        <span>
            {{ 'cookies.permit' | translate }}
        </span>
        <ul>
            <li><a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">Google Chrome</a></li>
            <li><a href="https://support.microsoft.com/es-es/windows" target="_blank">Internet Explorer</a></li>
            <li><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectlocale=es&redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we"
                    target="_blank">Mozilla Firefox</a></li>
            <li><a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac" target="_blank">Apple Safari</a>
            </li>
            <li><a href="https://help.opera.com/en/latest/web-preferences/#cookies" target="_blank">Opera Browser</a>
            </li>
        </ul>
        <strong>
            {{ 'cookies.modifications' | translate }}
        </strong>
        <span>
            {{ 'cookies.update' | translate }}
        </span>
        <strong>
            {{'cookies.contact' | translate }}
        </strong>
        <span>
            {{'cookies.questions' | translate }}
        </span>
    </div>
</div>