<div class="container" id="product">
    <div class="text-container">
        <h2>{{ 'products.title' | translate }}</h2>
        <!-- <p>{{ 'products.subtitle' | translate }}</p> -->
    </div>
    <div class="products-container row justify-content-center" id="products">
        <app-product-card [receivedData]="experience" *ngFor="let experience of makerExperiences; let i = index" class="col-xl-4 col-lg-6 col-12"></app-product-card>
    </div>
    <!-- <div class="button-container">
        <button>VER TODAS</button>
    </div> -->
</div>